@model Group_18_Final_Project.Models.Book
@using Group_18_Final_Project.Models

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniqueID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniqueID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>
        @if (@Model.Reviews.Count() == 0 || (@Model.Reviews.All(u => u.IsPending == false && u.Approval == false)) || @Model.Reviews == null)
        {
            <dd>This book has not yet been reviewed!</dd>
        }
        else
        {
            <dd>
                @Html.DisplayFor(model => model.AverageRating)
            </dd>
        }
        <dd class="text-danger">@ViewBag.NoOrder</dd>
        <dd>
            @*Links for reviews/rating and an option to review the book*@
            <a asp-action="Index" asp-controller="Reviews" asp-route-id="@Model.BookID">Reviews</a> |
            <a asp-action="Create" asp-controller="Reviews" asp-route-id="@Model.BookID">Write a Review</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="AddToOrder" asp-controller="Orders">
        <div class="form-group">
            <h5>Quantity:</h5>
            <div>
                @ViewBag.InCart
            </div>
            <input name="intOrderQuantity" class="form-control" />
        </div>
        <div>
            <input type="hidden" asp-for="@Model.BookID" />
            <button type="submit" class="btn btn-danger">Add To Cart</button>
        </div>
    </form>

    <a asp-action="Edit" asp-route-id="@Model.BookID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
