@model Group_18_Final_Project.Models.Book

@{
    ViewData["Title"] = "Disable";
}

<h2>Discontune</h2>

<h3>Are you sure you want to discontinue this book?</h3>
<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniqueID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UniqueID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimesPurchased)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimesPurchased)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AverageRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CopiesOnHand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CopiesOnHand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BookPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WholesalePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WholesalePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActiveBook)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActiveBook)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PublicationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PublicationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Disable">
        <input type="hidden" asp-for="BookID" />
        <input type="submit" value="Disable" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
