@model Group_18_Final_Project.Models.Coupon

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Coupon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CouponCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CouponCode)
        </dd>
        <dt>
            Active?
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CouponActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CouponValue)
        </dt>
        @if(Model.CouponType == CouponType.FreeShippingForX)
        {
            <dd>
                <b>Free shipping for orders above $</b>(@Html.DisplayFor(model => model.CouponValue))
            </dd>
        }
        @if(Model.CouponType == CouponType.XOffOrder)
        {
            <dd>
                (@Html.DisplayFor(model => model.CouponValue))<b>% off the user's total order</b>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CouponID">Edit Coupon Status</a> |
    <a asp-action="Index">Back to List</a>
</div>
