@model IEnumerable<Group_18_Final_Project.Models.Coupon>

@{
    ViewData["Title"] = "Index";
}

<h2>Coupons</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Coupon</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CouponCode)
            </th>
            <th>
                Active?
            </th>
            <th>
                Coupon Type
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CouponCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponActive)
            </td>
            @if(item.CouponType == CouponType.FreeShippingForX)
            {
                <td>Free Shipping Promotion</td>
            }
            @if(item.CouponType == CouponType.XOffOrder)
            {
                <td>Order Discount Promotion</td>
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.CouponID">Edit Status</a> |
                <a asp-action="Details" asp-route-id="@item.CouponID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
