@model RoleEditModel

@{
    ViewBag.Title = "Edit Role";
}

<h2>Edit Role: @Model.Role.Name</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        @if (Model.Role.Name == "Manager")
        {
            <div class="panel-heading">Current Managers</div>
        }
        @if (Model.Role.Name == "Employee")
        {
            <div class="panel-heading">Current Employees</div>
        }
        @if (Model.Role.Name == "Customer")
        {
            <div class="panel-heading">Active Customer Accounts</div>
        }
            <table class="table table-striped">
                @if (Model.Members.Count() == 0)
                {
                    <tr>
                        <td colspan="3">No Users Are Members</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th>First Name</th>
                        <th>Email</th>
                        @if (Model.Role.Name != "Manager")
                        {
                            <th>@ViewBag.Disable</th>
                        }
                    </tr>

                    foreach (User user in Model.Members)
                    {
                        @if (user.ActiveUser == true)
                         {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.Email</td>

                        @if (Model.Role.Name != "Manager")
                        {
                            <td>
                                <input type="checkbox" name="IdsToDelete" value="@user.Id" />
                            </td>


                            <td>
                                <a asp-action="EditInfo" asp-controller="Account" asp-route-id="@user.Id">Edit Account Info</a>
                            </td>
                        }

                    </tr>
                         }
                        }
                    }
            </table>
    </div>

    @if (Model.Role.Name == "Manager")
    {
        <input type="hidden" name="roleName" value="Manager" />
    }
    @if (Model.Role.Name == "Employee")
    {
        <input type="hidden" name="roleName" value="Employee" />
    }
    @if (Model.Role.Name == "Customer")
    {
        <input type="hidden" name="roleName" value="Customer" />
    }
    <div class="panel panel-primary">

        @if (Model.Role.Name == "Manager")
        {
            <div class="panel-heading">Current Employees</div>
        }
        @if (Model.Role.Name == "Employee")
        {
            <div class="panel-heading">Fired Employees</div>
        }
        @if (Model.Role.Name == "Customer")
        {
            <div class="panel-heading">Disabled Customer Accounts</div>
        }
            <table class="table table-striped">
                @if (Model.NonMembers.Count() == 0)
                {
                    <tr>
                        <td colspan="3">All Users Are Members</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <th>First Name</th>
                        <th>Email</th>
                        @if (Model.Role.Name == "Manager")
                        {
                            <th>Promote to Manager</th>
                        }
                        @if (Model.Role.Name == "Employee")
                        {
                            <th>Rehire Employee</th>
                        }
                        @if (Model.Role.Name == "Customer")
                        {
                            <th>Enable Customer Account</th>
                        }
                    </tr>

                    @if (Model.Role.Name == "Manager")
                    {
                        foreach (User user in Model.NonMembers)
                        {
                            @if (user.UserType == "Employee" && user.ActiveUser == true)
                            {
                                <tr>
                                    <td>@user.FirstName</td>
                                    <td>@user.Email</td>
                                    <td>
                                        <input type="checkbox" name="IdsToAdd" value="@user.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    }

                    @if (Model.Role.Name == "Employee" || Model.Role.Name == "Customer")
                    {
                        foreach (User user in Model.Members)
                        {
                            @if (user.ActiveUser == false)
                            {
                                <tr>
                                    <td>@user.FirstName</td>
                                    <td>@user.Email</td>
                                    <td>
                                        <input type="checkbox" name="IdsToAdd" value="@user.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            </table>
    </div>

    <button type="submit" class="btn btn-danger">Save</button>
    <a asp-action="Index" class="btn btn-success">Cancel</a>
}





