@model RoleEditModel
@{
    ViewBag.Title = "Edit Role";
}

<h2>Edit Role: @Model.Role.Name</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading">Current @Model.Role.Name s</div>
        <table class="table table-striped">
            @if (Model.Members.Count() == 0)
            {
                <tr>
                    <td colspan="3">No Users Are Members</td>
                </tr>
            }
            else
            {
                <tr>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>@ViewBag.Disable</th>
                </tr>
                foreach (User user in Model.Members)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.Email</td>
                        <td>
                            <input type="checkbox" name="IdsToDelete" value="@user.Id" />
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <input type="hidden" name="roleName" value="Promote to Manager" />
    <div class="panel panel-primary">
        <div class="panel-heading">Promote to Manager</div>
        <table class="table table-striped">
            @if (Model.NonMembers.Count() == 0)
            {
                <tr>
                    <td colspan="3">All Users Are Members</td>
                </tr>
            }
            else
            {
                <tr>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Promote to Manager</th>
                </tr>
                foreach (User user in Model.NonMembers)
                {
                    <tr>
                        <td>@user.FirstName</td>
                        <td>@user.Email</td>
                        <td>
                            <input type="checkbox" name="IdsToAdd" value="@user.Id" />
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <button type="submit" class="btn btn-danger">Save</button>
    <a asp-action="Index" class="btn btn-success">Cancel</a>
}





