@model IEnumerable<Group_18_Final_Project.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h2>Reviews</h2>

<p>
    <a asp-action="ApproveReviews" asp-controller="Reviews" class="btn btn-success">Pending Reviews</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
