@model IEnumerable<Group_18_Final_Project.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h2>Reviews</h2>

@if(User.IsInRole("Customer"))
{
    <p>@ViewBag.CustomerReviews</p>
    <p>@ViewBag.BookReviews</p>
}

@if(User.IsInRole("Employee") || User.IsInRole("Manager"))
{
    <p>
        <a asp-action="ApproveReviews" asp-controller="Reviews" class="btn btn-success">Pending Reviews</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            @if(User.IsInRole("Manager"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            @if(User.IsInRole("Employee")||User.IsInRole("Manager"))
            {
            <th>
                @Html.DisplayNameFor(model => model.Approval)
            </th>

            }
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (User.IsInRole("Manager"))
            {
            <th>
            @Html.DisplayFor(modelItem => item.Author)
            </th>
            }
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            @if (User.IsInRole("Employee") || User.IsInRole("Manager"))
            {
        <td>
            @Html.DisplayFor(modelItem => item.Approval)
        </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            @if (User.IsInRole("Employee") || User.IsInRole("Manager"))
    {
        <td>
            <a asp-action="Edit" asp-route-id="@item.ReviewID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ReviewID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ReviewID">Delete</a>
        </td>

}
        </tr>
}
    </tbody>
</table>
