@model IEnumerable<Group_18_Final_Project.Models.BookOrder>

    @{
        ViewData["Title"] = "View";
    }
    <br />
    <h2>Book Report</h2>

    <!--Display repository count-->
    <p>Displaying @ViewBag.SelectedBooks of @ViewBag.TotalBooks</p>


    <!--Repo list table-->
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Book.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order.OrderID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order.User.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Profit)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profit)
                </td>
            </tr>
            }
        </tbody>
    </table>
