@model IEnumerable<Group_18_Final_Project.Models.Order>

    @{
        ViewData["Title"] = "View";
    }
    <br />
    <h2>Book Report</h2>

    <!--Display repository count-->
    <p>Displaying @ViewBag.SelectedOrders of @ViewBag.TotalOrders</p>


    <!--Repo list table-->
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Order Number
                </th>
                <th>
                    User
                </th>
                <th>
                    Total Selling Price
                </th>
                <th>
                    Total Profit
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>

                </td>
                <td>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookOrders.Sum(bo => bo.Profit))
                </td>
            </tr>
            }
        </tbody>
    </table>
