@model Group_18_Final_Project.Models.Order
@using Group_18_Final_Project.Models
@{
    ViewData["Title"] = "Details";
}
<!--The following view page is details of a completed order-->
<div>
    <h2>Order</h2>
    <br />
    <h4>Your Completed Order</h4>
    <br />
</div>

<p>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
</p>

<div class="row">
    <div class="column" style="padding:0 15px 0 15px;">
    <h5>Shipping Address</h5>
    </div>
    <div class="column" style="padding:0 15px 0 15px;">
        <p>@Html.DisplayFor(modelItem => modelItem.User.Address)</p>
        <p>@Html.DisplayFor(modelItem => modelItem.User.City), @Html.DisplayFor(modelItem => modelItem.User.State)</p>
    </div>
</div>

<div class="row">
    <div class="column" style="padding:0 15px 0 15px;">
    <h5>Payment Method</h5>
    </div>
    <div class="column" style="padding:0 15px 0 15px;">
        <p>@ViewBag.ccType</p>
        <p>@ViewBag.ccHidden</p>
    </div>
</div>

<div>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th colspan="3" style="text-align:center">Order Summary</th>
            </tr>
            <tr>
                <th>Book Title</th>
                <th>Book Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (BookOrder bookOrder in Model.BookOrders)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => bookOrder.Book.Title)</td>
                    <td>@Html.DisplayFor(modelItem => bookOrder.Price)</td>
                    <td>@Html.DisplayFor(modelItem => bookOrder.OrderQuantity)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <table class="table table-sm table-bordered" style="width:30%">
        <tr>
            <th colspan="2" style="text-align:center">Cart Summary</th>
        </tr>
        <tr>
            <td>Cart Subtotal</td>
            <td>@Html.DisplayFor(bo => bo.OrderSubtotal)</td>
        </tr>
        <tr>
            <td>Shipping</td>
            <td>@Html.DisplayFor(bo => bo.TotalShippingPrice)</td>
        </tr>
        <tr>
            <td>Order Total</td>
            <td>@Html.DisplayFor(bo => bo.OrderTotal)</td>
        </tr>
    </table>
</div>