@using  Group_18_Final_Project.Models;
@using  Group_18_Final_Project.Controllers;
@model IEnumerable<Group_18_Final_Project.Models.Book>

@foreach (var item in Model)
{
    <span>@item.Name</span>
}


@{
    ViewData["Title"] = "AutoReorder";
}

<h2>AutoReorder</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniqueID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CopiesOnHand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WholesalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveBook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderPoint)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniqueID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CopiesOnHand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WholesalePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveBook)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderPoint)
                </td>

                <td>
                    <a asp-action="Edit" asp-controller="Books" asp-route-id="@item.BookID">Edit</a> |
                    <a asp-action="Details" asp-controller="Books" asp-route-id="@item.BookID">Details</a> |
                    <a asp-action="Delete" asp-controller="Books" asp-route-id="@item.BookID">Disable</a>
                </td>
            </tr>
        }
    </tbody>
</table>

