@model ReorderUpdateModel
@using Group_18_Final_Project.Models

@{
    ViewData["Title"] = "AutoReorder";
}

<h2>AutoReorder</h2>

<form asp-action="AutoReorder">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Unique ID
                </th>
                <th>
                    Copies on Hand
                </th>
                <th>
                    Wholesale Price
                </th>
                <th>
                    Is this book active?
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Book book in Model.ToUpdate)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => book.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.UniqueID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.CopiesOnHand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.WholesalePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.ActiveBook)
                    </td>
                    <td>
                        <input type="hidden" name="ReordersToUpdate" value="@book.BookID">
                    </td>


                    <td>
                        <a asp-action="Edit" asp-controller="Books" asp-route-id="@book.BookID">Edit</a> |
                        <a asp-action="Details" asp-controller="Books" asp-route-id="@book.BookID">Details</a> |
                    </td>
                </tr>
            }

        </tbody>
        <div class="form-group">
            <input method="post" type="submit" value="save" class="btn btn-default" />
        </div>

    </table>
</form>
