@model IEnumerable<Group_18_Final_Project.Models.BookReorder>
@{
    ViewBag.Title = "RemoveFromReorder";
}
<h2>Edit Order</h2>
<table class="table">
    <tr>
        <th>
            Book Title
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "BookReorders", new { id = item.BookReorderID }, null) |
                @Html.ActionLink("Delete", "Delete", "BookReorders", new { id = item.BookReorderID }, null)
            </td>
        </tr>
    }
</table>
